body {
    margin: 0;
    background-color: powderblue;
}
p {
    font-family: arial;
}
h1 {
    font-family: arial;
}
h2{
    font-family: Arial;
}
h3{
    font-family: Arial;
}
h4{
    font-family: Arial;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(218, 251, 255);
    height: 100%;
    position: fixed;
    overflow: auto;
}
li a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-family: arial;
    Color: black;
}
li a:hover {
    background-color: #555;
    color: white;
}
li a.active {
    background-color: rgb(0, 255, 200);
    color: white;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    font-family: arial;
    width:80%;
}
.layout{
    margin-left: 200px;
    padding:1px 16px;
    height:1000px;
}
caption {
    font-family: Arial;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: left;
}
.list {
    background-color: powderblue;
    position: unset;
    height: unset;
    width: unset;
}
div div p { 
    background-color: powderblue;
}
li {
    font-family: Arial;
}